
.container_apar{
    background-color: #f2f2f2;
    justify-content: center;
    width: 50%;
    margin-left:26% ;
    margin-top: 1%;
    text-align: center;

}
.inp{
    width: 80%;
    padding: 0.5rem;
  height: 46px;
  border: 1px solid #9fc8fe;
  background: #ffffff;
  background-blend-mode: multiply;
  border: 1px solid #9fc8fe;
  border-radius: 10px;
  margin: 8px 0;
  
  
}


.submitbtn{
    width: 30%;
    background-color: #08090a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.submitbtn:hover{
    background-color: #5b91d9;
}
.heading{


    background-color: #5b91d9;
    color: white;
  border-radius: 20px;

    padding: 3px;

}


 .period{
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.content{

    display: flex;
    justify-content: space-evenly;
    gap: 1em;


}
